.rhap_progress-section{
  display: none !important;
}
.rhap_additional-controls {
  display: block !important;
  -webkit-flex: 0 0 auto !important;
}
.rhap_container {
 padding: 0px 5px !important;
 height: 35px !important;
}